<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Do a &quot;platform&quot; build from SVN. Do more testing than the matrix builds.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.javanet.StatsProperty/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://squawk.dev.java.net/svn/squawk/branches/squawk-native</remote>
        <local>squawk-native</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <browser class="hudson.scm.browsers.FishEyeSVN">
      <url>http://fisheye4.atlassian.com/browse/squawk/</url>
      <rootModule></rootModule>
    </browser>
    <excludedRegions></excludedRegions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>7 * * * *
</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <builders>
    <hudson.tasks.Shell>
      <command>LD_LIBRARY_PATH=/usr/jdk/instances/jdk1.6.0/jre/lib/i386/client:/usr/jdk/instances/jdk1.6.0/jre/lib/i386:$LD_LIBRARY_PATH
cd squawk-native

$HUDSON_HOME/bin/verifyBuildJars2

java -jar build.jar clean
java -jar build.jar copyphoneme
java -jar build.jar
java -jar build.jar -prod -mac -o2 rom -metadata -lnt  cldc imp debugger

java -jar build.jar map -cp:cldc/j2meclasses:imp/j2meclasses:debugger/j2meclasses squawk.suite
rm squawk.suite.map
java -jar build.jar genspec
java -jar build.jar jvmenv
java -jar build.jar systemproperties
java -jar build.jar Mnemonics
java -jar build.jar OPC
java -jar build.jar OperandStackEffect
java -jar build.jar Verifier
./squawk -h
./squawk -version
$HUDSON_HOME/bin/runsmoketest.sh DELEGATING
$HUDSON_HOME/bin/runiotests.sh

/usr/bin/rm -rf tempdoc
java -jar build.jar makeapi  squawk.suite.api cldc/preprocessed:imp/preprocessed:debugger/preprocessed tempdoc

ls -l &gt; sizereport.txt

mkdir tmp
cp squawk squawk.suite squawk.suite.metadata tmp
java -jar build.jar clean 
mv tmp/squawk tmp/squawk.suite tmp/squawk.suite.metadata .
rmdir tmp

java -jar build.jar clean </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.JavadocArchiver>
      <javadocDir>squawk-native/tempdoc/javadoc</javadocDir>
      <keepAll>false</keepAll>
    </hudson.tasks.JavadocArchiver>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>squawk-native/squawk,squawk-native/squawk.suite,squawk-native/squawk.suite.metadata,squawk-native/sizereport.txt</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>platform-type-matrix</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.Mailer>
      <recipients>squawk-regression@sun.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>