<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build SDK for FIRST Robotics Competition from firstforge.wpi.edu. This does full squawk AND WPILib build.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>4</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.descriptionsetter.JobByDescription/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://firstforge.wpi.edu/svn/repos/azaleasource/WPILibJavaProgramming/trunk</remote>
      </hudson.scm.SubversionSCM_-ModuleLocation>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.java.net/svn/squawk~svn/branches/squawk-frc2011</remote>
        <local>trunk/squawk</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <assignedNode>WindowsXP32</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>25 * * * *
</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!bash  -ex</command>
    </hudson.tasks.Shell>
    <hudson.tasks.BatchFile>
      <command>cd %WORKSPACE%\trunk\sdkbuilder


c:\windriver\wrenv.exe -p vxworks-6.3 build.bat
set finalval=%ERRORLEVEL%

echo final error level = %finalval%
exit %finalval%
</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>trunk/FRCNetbeansDist.zip, trunk/sunspotfrcsdk.zip, trunk/nbdistrib/*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.JavadocArchiver>
      <javadocDir>trunk/sdk/doc/javadoc</javadocDir>
      <keepAll>true</keepAll>
    </hudson.tasks.JavadocArchiver>
  </publishers>
  <buildWrappers/>
</project>