<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>simple squawk build, from local directory test-ws.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>4</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.javanet.StatsProperty/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://squawk.dev.java.net/svn/squawk/trunk</remote>
        <local>trunk</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>LD_LIBRARY_PATH=/usr/lib:/usr/local/lib:/usr/jdk/instances/jdk1.5.0/jre/lib/i386/client:/usr/jdk/instances/jdk1.5.0/jre/lib/i386:$LD_LIBRARY_PATH
PATH=/usr/bin:$PATH
cd trunk
$HUDSON_HOME/bin/verifyBuildJars2

./d.sh clean
./d.sh copyphoneme
./d.sh
./d.sh -prod -mac -o2 rom -metadata cldc imp debugger

./d.sh map -cp:cldc/j2meclasses:imp/j2meclasses:debugger/j2meclasses squawk.suite
./d.sh genspec
./d.sh jvmenv
./d.sh systemproperties
./d.sh Mnemonics
./d.sh OPC
./d.sh OperandStackEffect
./d.sh Verifier
./squawk -h
./squawk -version

$HUDSON_HOME/bin/runsmoketest.sh NATIVE
$HUDSON_HOME/bin/runiotests.sh

/usr/bin/rm -rf tempdoc
#./d.sh makeapi  squawk.suite.api cldc/preprocessed:imp/preprocessed:debugger/preprocessed tempdoc
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
  <customWorkspace>/scratch/dw29446/hudson/test-ws</customWorkspace>
</project>