<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build a full debug build of squawk-native from SVN. Build with assertions, debug code, assume, tracing, and interpreted gc.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://squawk.dev.java.net/svn/squawk/branches/squawk-native</remote>
        <local>squawk-native</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>LD_LIBRARY_PATH=/usr/jdk/instances/jdk1.5.0/jre/lib/i386/client:/usr/jdk/instances/jdk1.5.0/jre/lib/i386:$LD_LIBRARY_PATH
cd squawk-native

pwd
./d.sh clean
./d.sh copyphoneme
./d.sh -DPLATFORM_TYPE=DELEGATING -DTRACING_ENABLED=true -DASSERTIONS_ENABLED=true -DDEBUG_CODE_ENABLED=true  -DENABLE_DYNAMIC_CLASSLOADING=true -DNATIVE_GC_ONLY=false -DJ2ME.STATS=true -DTYPEMAP=true -DFULL_SLOT_CLEARING_ANALYSIS=true -DCHECK_SLOT_CLEARING=true -DTRUST_SLOT_CLEARING=false -DSUITE_VERIFIER=true
./d.sh -DPLATFORM_TYPE=DELEGATING -DTRACING_ENABLED=true -DASSERTIONS_ENABLED=true -DDEBUG_CODE_ENABLED=true -DENABLE_DYNAMIC_CLASSLOADING=true -DNATIVE_GC_ONLY=false -DJ2ME.STATS=true  -DTYPEMAP=true -DFULL_SLOT_CLEARING_ANALYSIS=true -DCHECK_SLOT_CLEARING=true -DTRUST_SLOT_CLEARING=false -DSUITE_VERIFIER=true -assume -tracing -typemap rom -strip:d -lnt -metadata cldc imp debugger

./d.sh map -cp:cldc/j2meclasses:imp/j2meclasses:debugger/j2meclasses squawk.suite
./d.sh genspec
./d.sh jvmenv
./d.sh systemproperties
./d.sh Mnemonics
./d.sh OPC
./d.sh OperandStackEffect
./d.sh Verifier
./squawk -h
./squawk -version
$HUDSON_HOME/bin/runsmoketest.sh DELEGATING
$HUDSON_HOME/bin/rundsmoketest.sh DELEGATING

ls -l &gt; sizereport.txt

mkdir tmp
cp squawk squawk.suite squawk.suite.metadata tmp
java -jar build.jar clean 
mv tmp/squawk tmp/squawk.suite tmp/squawk.suite.metadata .
rmdir tmp
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>squawk-native/sizereport.txt</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>