<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description>Build squawk in several configurations, with FLASH_MEMORY=TRUE and ENABLE_DYNAMIC_CLASSLOADING=FALSE:&#xd;
&lt;ul&gt;&#xd;
&lt;li&gt;ASSERTIONS_ENABLED&#xd;
&lt;li&gt;DEBUG_CODE_ENABLED&#xd;
&lt;li&gt;FLOATS&#xd;
&lt;/ul&gt;&#xd;
&#xd;
&lt;b&gt;Can&apos;t actually run FLASH_MEMORY builds&lt;/b&gt; on desktop, due to different channel operations, etc.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.javanet.StatsProperty/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://squawk.dev.java.net/svn/squawk/trunk</remote>
        <local>trunk</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>ASSERTIONS_ENABLED</name>
      <values>
        <string>true</string>
        <string>false</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>DEBUG_CODE_ENABLED</name>
      <values>
        <string>true</string>
        <string>false</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>FLOATS</name>
      <values>
        <string>true</string>
        <string>false</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelAxis>
      <name>label</name>
      <values>
        <string>master</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
LD_LIBRARY_PATH=/usr/jdk/instances/jdk1.6.0/jre/lib/i386/client:/usr/jdk/instances/jdk1.6.0/jre/lib/i386:$LD_LIBRARY_PATH

cd trunk
./d.sh clean 
./d.sh -DFLASH_MEMORY=true -DENABLE_DYNAMIC_CLASSLOADING=false -DASSERTIONS_ENABLED=$ASSERTIONS_ENABLED -DDEBUG_CODE_ENABLED=$DEBUG_CODE_ENABLED  
./d.sh -DFLASH_MEMORY=true -DENABLE_DYNAMIC_CLASSLOADING=false -DASSERTIONS_ENABLED=$ASSERTIONS_ENABLED -DDEBUG_CODE_ENABLED=$DEBUG_CODE_ENABLED  -prod -mac -o2 rom cldc imp debugger
ls -l &gt; sizereport.txt
./d.sh clean </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>trunk/sizereport.txt</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
  <runSequentially>false</runSequentially>
</matrix-project>