<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build a small VM from SVN. Build &lt;b&gt;without&lt;/b&gt;:&#xd;
&lt;ul&gt;&#xd;
&lt;li&gt;floats&#xd;
&lt;li&gt;cldc1.1&#xd;
&lt;li&gt;imp&#xd;
&lt;li&gt;debugging&#xd;
&lt;li&gt;C version of GC&#xd;
&lt;li&gt;Generational GC&#xd;
&lt;li&gt;Runtime metadata support&#xd;
&lt;li&gt;Interisolate communication&#xd;
&lt;li&gt;Dynamic classloading&#xd;
&lt;/ul&gt;&#xd;
&lt;p&gt;</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.java.net/svn/squawk~svn/trunk</remote>
        <local>trunk</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!bash  -ex

cd trunk

./d.sh clean

./d.sh -DFLOATS=false -DCLDC1.1=false -DNATIVE_VERIFICATION=false -DNATIVE_GC_ONLY=false -DGC2C=false -DGC=com.sun.squawk.Lisp2Collector -DENABLE_RUNTIME_METADATA=false -DNEW_IIC_MESSAGES=false -DGMT_ONLY=true -DENABLE_SDA_DEBUGGER=false -DENABLE_SUITE_LOADING=false

./d.sh -DFLOATS=false -DCLDC1.1=false -DNATIVE_VERIFICATION=false -DNATIVE_GC_ONLY=false -DGC2C=false -DGC=com.sun.squawk.Lisp2Collector -DENABLE_RUNTIME_METADATA=false -DNEW_IIC_MESSAGES=false -DGMT_ONLY=true -DENABLE_SDA_DEBUGGER=false -DENABLE_SUITE_LOADING=false -prod -mac -o2 rom -strip:a cldc

./squawk -h
./squawk -version

ls -l &gt; sizereport.txt

set +e
./squawk com.sun.squawk.Test
STAT=$?
set -e
# status got trunctated from 12345 to 57
if [ $STAT -eq 57 ]; then
	echo good $STAT
else
	echo bad $STAT
	exit $STAT
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>trunk/squawk,trunk/squawk.suite,trunk/sizereport.txt</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer>
      <recipients>squawk-regression@sun.com</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>