<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Do a &quot;platform&quot; build from SVN. Do more testing than the matrix builds.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://squawk.dev.java.net/svn/squawk/branches/squawk-native</remote>
        <local>squawk-native</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>false</useUpdate>
    <doRevert>false</doRevert>
    <browser class="hudson.scm.browsers.FishEyeSVN">
      <url>http://fisheye4.atlassian.com/browse/squawk/</url>
      <rootModule></rootModule>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <assignedNode>Ubuntu</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>7 * * * *
</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
LD_LIBRARY_PATH=/usr/jdk/instances/jdk1.5.0/jre/lib/i386/client:/usr/jdk/instances/jdk1.5.0/jre/lib/i386:$LD_LIBRARY_PATH
cd squawk-native

$HUDSON_HOME/bin/verifyBuildJars2

./d.sh clean
./d.sh copyphoneme
./d.sh
./d.sh -prod -mac -o2 rom -metadata -lnt  cldc imp debugger

./d.sh map -cp:cldc/j2meclasses:imp/j2meclasses:debugger/j2meclasses squawk.suite
rm squawk.suite.map
./d.sh genspec
./d.sh jvmenv
./d.sh systemproperties
./d.sh Mnemonics
./d.sh OPC
./d.sh OperandStackEffect
./d.sh Verifier
./squawk -h
./squawk -version
$HUDSON_DIR/bin/runsmoketest.sh DELEGATING
$HUDSON_DIR/bin/runiotests.sh

rm -rf tempdoc
./d.sh makeapi  squawk.suite.api cldc/preprocessed:imp/preprocessed:debugger/preprocessed tempdoc

ls -l &gt; sizereport.txt

mkdir tmp
cp squawk squawk.suite squawk.suite.metadata tmp
./d.sh clean
mv tmp/squawk tmp/squawk.suite tmp/squawk.suite.metadata .
rmdir tmp
./d.sh clean</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>start-platform-type-matrix, platform-type-debug-build</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>