<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <systemMessage>&lt;h1&gt;Test/Integration Server for Squawk Project&lt;/h1&gt;&#xd;
&lt;b&gt;&lt;i&gt;New!&lt;/i&gt;&lt;/b&gt; Squawk &lt;a href=&quot;http://squawk-sqa:8080/job/normal-build/java.net-stats/&quot;&gt;Issue Tracker Stats&lt;/a&gt;. derek.white@sun.com&lt;p&gt;&#xd;
&#xd;
&lt;table cellspacing=&quot;20&quot;&gt;&#xd;
&lt;tr&gt;&lt;th&gt;Automatic&lt;th&gt;Manual - TCK&lt;th&gt;Manual - Other&#xd;
&lt;tr&gt;&#xd;
&lt;td&gt;&#xd;
&lt;ul&gt;&lt;i&gt;Jobs will start a few minutes after SVN checkin&lt;/i&gt;&#xd;
&lt;li&gt;&lt;a href=&quot;http://squawk-sqa:8080/job/normal-build/&quot;&gt;normal-build&lt;/a&gt; &#xd;
&lt;li&gt;&lt;a href=&quot;http://squawk-sqa:8080/job/full-debug-build/&quot;&gt;full-debug-build&lt;/a&gt; &#xd;
&lt;li&gt;&lt;a href=&quot;http://squawk-sqa:8080/job/small-build/&quot;&gt;small-build&lt;/a&gt; &#xd;
&lt;li&gt;&lt;a href=&quot;http://squawk-sqa:8080/job/build-matrix/&quot;&gt;build-matrix&lt;/a&gt;&#xd;
&lt;li&gt;&lt;a href=&quot;http://squawk-sqa:8080/job/build-flash-memory-matrix/&quot;&gt;build-flash-memory-matrix&lt;/a&gt;&#xd;
&lt;/ul&gt;&#xd;
&#xd;
&lt;td&gt;&#xd;
&lt;ul&gt;&lt;i&gt;TCK run starts at 2am, EST&lt;/i&gt;&#xd;
&lt;li&gt;&lt;a href=&quot;http://squawk-sqa:8080/job/start-tck-cmdline/&quot;&gt;start-tck-cmdline&lt;/a&gt; &#xd;
&lt;li&gt;&lt;a href=&quot;http://squawk-sqa:8080/job/build-matrix/&quot;&gt;start-jam-local&lt;/a&gt; &#xd;
&lt;/ul&gt;&#xd;
&lt;i&gt;When the TCK is running, you can check console of the &lt;br&gt;&#xd;
currently running &lt;a href=&quot;http://squawk-sqa:8080/job/start-tck-cmdline/&quot;&gt;start-tck-cmdline&lt;/a&gt; job to see progress.&lt;/i&gt;&#xd;
&#xd;
&lt;td&gt;&#xd;
&lt;ul&gt;&#xd;
&lt;li&gt;&lt;a href=&quot;http://squawk-sqa:8080/job/squawk-build-local/&quot;&gt;squawk-build-local&lt;/a&gt; &#xd;
&lt;/ul&gt;&#xd;
&lt;/table&gt;</systemMessage>
  <jdks>
    <jdk>
      <name>1.6</name>
      <javaHome>/usr/jdk/instances/jdk1.6.0</javaHome>
    </jdk>
    <jdk>
      <name></name>
      <javaHome></javaHome>
    </jdk>
  </jdks>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <views/>
  <slaveAgentPort>0</slaveAgentPort>
  <secretKey>f17b8038f02afc000dfa9f1265c0cd9fecb10d23b5cbfeac15282560fe4c4dd1</secretKey>
</hudson>