<?xml version='1.0' encoding='UTF-8'?>
<project>
  <customWorkspace>/scratch/dw29446/hudson/tck</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command></command>
    </hudson.tasks.Shell>
  </builders>
  <publishers class="vector">
    <hudson.tasks.ArtifactArchiver>
      <artifacts>batch-report/*.html</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.test.AggregatedTestResultPublisher/>
    <hudson.plugins.javatest__report.JavaTestReportPublisher>
      <includes>batch-report/xml/*.xml</includes>
      <jtwork>batch-work</jtwork>
    </hudson.plugins.javatest__report.JavaTestReportPublisher>
    <hudson.tasks.Mailer>
      <recipients>derek.white@sun.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector"/>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>4</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.javanet.StatsProperty/>
  </properties>
  <description></description>
  <actions class="java.util.concurrent.CopyOnWriteArrayList"/>
</project>