<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build SDK for FIRST Robotics Competition from firstforge.wpi.edu using canned squawk build.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>4</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <creationTime>0</creationTime>
  <properties>
    <hudson.plugins.descriptionsetter.JobByDescription/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://firstforge.wpi.edu/svn/repos/azaleasource/WPILibJavaProgramming/trunk</remote>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <assignedNode>master</assignedNode>
  <advancedAffinityChooser>false</advancedAffinityChooser>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>25 * * * *
</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <builders>
    <hudson.tasks.Shell>
      <command>#!bash  -ex

cd trunk 

rm -f sdkbuilder/squawkbuild.zip
rm -rf squawk

cp ${WORKSPACE}/../../build-frc-squawk/lastSuccessful/archive/trunk/buildartifacts/squawkbuild.zip sdkbuilder

cd sdkbuilder

ant -Dfrc.home=../ -Dnbplatform.default.netbeans.dest.dir=/Applications/NetBeans/NetBeans\ 6.9.app/Contents/Resources/NetBeans build-distribution
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.JavadocArchiver>
      <javadocDir>trunk/sdk/doc/javadoc</javadocDir>
      <keepAll>true</keepAll>
    </hudson.tasks.JavadocArchiver>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>trunk/FRCNetbeansDist.zip, trunk/sunspotfrcsdk.zip, trunk/nbdistrib/*</artifacts>
      <compressionType>GZIP</compressionType>
      <latestOnly>false</latestOnly>
      <autoValidateFileMask>false</autoValidateFileMask>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>