<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description>Build squawk in several platform types:&#xd;
&lt;ul&gt;&#xd;
&lt;li&gt;NATIVE&#xd;
&lt;li&gt;DELEGATING&#xd;
&lt;li&gt;SOCKETS&#xd;
&lt;/ul&gt;&#xd;
&#xd;
The BARE_METAL type can&apos;t be built the same way...&#xd;
&#xd;
Each platform type is built +/- ASSERTIONS_ENABLED, and DEBUG_CODE_ENABLED</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>2</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.java.net/svn/squawk~svn/trunk</remote>
        <local>trunk</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>ASSERTIONS_ENABLED</name>
      <values>
        <string>true</string>
        <string>false</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>DEBUG_CODE_ENABLED</name>
      <values>
        <string>true</string>
        <string>false</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>PLATFORM_TYPE</name>
      <values>
        <string>NATIVE</string>
        <string>DELEGATING</string>
        <string>SOCKET</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.LabelAxis>
      <name>label</name>
      <values>
        <string>mac</string>
        <string>solaris</string>
        <string>ubuntu</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash  -ex

LD_LIBRARY_PATH=/usr/jdk/instances/jdk1.6.0/jre/lib/i386/client:/usr/jdk/instances/jdk1.6.0/jre/lib/i386:$LD_LIBRARY_PATH
cd trunk
./d.sh clean 

./d.sh -DPLATFORM_TYPE=$PLATFORM_TYPE -DASSERTIONS_ENABLED=$ASSERTIONS_ENABLED -DDEBUG_CODE_ENABLED=$DEBUG_CODE_ENABLED
./d.sh -DPLATFORM_TYPE=$PLATFORM_TYPE -DASSERTIONS_ENABLED=$ASSERTIONS_ENABLED -DDEBUG_CODE_ENABLED=$DEBUG_CODE_ENABLED -prod -mac -o2 rom -traceDCE cldc imp debugger

tests/bin/runsmoketest.sh $PLATFORM_TYPE 
./d.sh map -cp:cldc/j2meclasses:imp/j2meclasses:debugger/j2meclasses squawk.suite
rm squawk.suite.map

ls -l &gt; sizereport.txt

./d.sh clean </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>trunk/sizereport.txt</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer>
      <recipients>squawk-regression@sun.com</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
  <runSequentially>false</runSequentially>
</matrix-project>