<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Do a &quot;normal&quot; build from SVN. Do more testing than the matrix builds.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.java.net/svn/squawk~svn/trunk</remote>
        <local>trunk</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <browser class="hudson.scm.browsers.FishEyeSVN">
      <url>http://fisheye4.atlassian.com/browse/squawk/</url>
      <rootModule></rootModule>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <assignedNode>master||solaris</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>5 * * * *
</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash  -ex
LD_LIBRARY_PATH=/usr/jdk/instances/jdk1.6.0/jre/lib/i386/client:/usr/jdk/instances/jdk1.6.0/jre/lib/i386:$LD_LIBRARY_PATH

#export JAVA_HOME=/usr
cd trunk

pwd
platform=&apos;unknown&apos;
unamestr=`uname`
hudsondir=../../../../


if [[ &quot;$unamestr&quot; == &apos;Linux&apos; ]];then
   platform=&apos;linux&apos;
elif [[ &quot;$unamestr&quot; == &apos;Darwin&apos; ]];then
   platform=&apos;mac&apos;
elif [[ &quot;$unamestr&quot; == &apos;CYGWIN_NT-5.1&apos; ]];then
   platform=&apos;windows&apos;
fi

if [[ $platform == &apos;linux&apos; ]]; then
	echo &apos;lin&apos;
        hudsondir=&apos;/home/squawk/Hudson-Squawk/hudson/trunk&apos;
elif [[ $platform == &apos;mac&apos; ]]; then
   	echo &apos;mac&apos;
elif [[ $platform == &apos;windows&apos; ]];then
	echo &apos;win&apos;
fi
echo huddir=$hudsondir

tests/bin/verifyBuildJars2
echo DONE verifyBuildJars2

./d.sh builder

./d.sh   clean
./d.sh
./d.sh -verbose -prod -mac -o2 rom cldc imp debugger

ls -l &gt; sizereport.txt

./d.sh map -cp:cldc/j2meclasses:imp/j2meclasses:debugger/j2meclasses squawk.suite
./d.sh genspec
./d.sh jvmenv
./d.sh systemproperties
./d.sh Mnemonics
./d.sh OPC
./d.sh OperandStackEffect
./d.sh Verifier
./squawk -h
./squawk -version


echo working directory
pwd

tests/bin/runsmoketest.sh DELEGATING
tests/bin/runiotests.sh

rm -rf tempdoc

echo MAKEAPI DISABLED FOR NOW!
#java -jar build.jar -verbose makeapi  squawk.suite.api cldc/preprocessed:imp/preprocessed:debugger/preprocessed tempdoc -verbose -docletpath build.jar

echo Running FindBugs...
java -jar $hudsondir/findbugs/lib/findbugs.jar -textui -project $hudsondir/bin/findbugs-bootstrap.fbp -exclude $hudsondir/bin/findbugs-filter.xml -output findbugs.xml

mkdir tmp
cp squawk squawk.suite squawk.suite.map squawk.suite.metadata tmp
./d.sh clean 
mv tmp/squawk tmp/squawk.suite tmp/squawk.suite.metadata tmp/squawk.suite.map .
rmdir tmp
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>trunk/squawk,trunk/squawk.suite,trunk/squawk.suite.metadata,trunk/sizereport.txt,trunk/squawk.suite.map</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>normal-build-windows, platform-type-matrix, full-debug-build, small-build, small-build-windows,build-other-platforms</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.Mailer>
      <recipients>squawk-regression@sun.com</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>